* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  max-width: 1366px;
  height: 768px;
  background: #ffffff;
  margin: 90px 50px;
}
