* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  height: 768px;
  background: #ffffff;
}
.banner-container{
  margin-top: 90px;
}
